.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
    margin: 0 auto;
    height: 89vh;
    align-items: center;
}

.about .item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .item h3 {
    font-weight: 700;
    font-size: 3rem;
    color:  #0be6e6;
}

.about .item .btn-know-more {
    font-size: 1.6rem;
    align-self: flex-start;
}

.about .item .btn-know-more:hover {
    font-weight: 700;
}

.about .item p {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 30px 0;
}

.about {
    height: 100%;
    width: 100%;
}

.image {
    margin-left: 150px;
    height: 70%;
    width: 70%;
}

.about .image.left {
    background: url("../img/img-avatar.gif") center center no-repeat, border-box;
    background-size: cover;
    border-radius: 15px;
    border: 3px solid;
    border-color: #0be6e6;
}

@media(max-width: 950px) {

    .image {
        margin-left: 100px;
    }

    .about .item {
        padding: 50px;
        align-items: center;
    }


}

@media(max-width: 700px) {
    .about .item {
        text-align: center;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }

    .image {

        display: flex;

    }
}

@media(max-width: 780px) {
    .image {
        padding: 15px;
    }
}